# Default ignored files
/shelf/
/workspace.xml
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml

# Maven build output
**/target/
**/target/**

# Java class files
*.class
# local DB
*.db

# IntelliJ IDE files
.idea/
*.iml